.App-header {
    min-height: 70h;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
    color: white;
    margin-bottom: 70px;
    font-family: monospace;
    font-weight: none;
}